{{ form_start(form) }}
    <div class="">
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-1 mb-3">{{ button_label|default('Filtrer') }}</button>
    </div>
{{ form_end(form) }}